<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interaktivní mapa Evropy</title>
    <link rel="stylesheet" href="static/styles/styles.css">
    <link rel="icon" type="image/png" href="static/images/airplane-icon.png">
</head>
<body>
<h1>Interaktivní mapa Evropy</h1>
<p>Přejeď myší přes zemi pro zobrazení hlavního města. Kliknutím uložíš výběr.</p>

<div id="map-container"></div>

<p id="info">Najetím myši zobrazíš hlavní město</p>
<button onclick="sendSelectedCities()">Vypočítej cestu</button>
<p id="prediction"></p>
<script src="static/script/map.js"></script>
<script src="static/script/prediction.js"></script>
</body>
</html>
